.Header {
  &__logo {
    font-family: $header-font;
    font-weight: bold;
    font-size: 2rem;
    border-bottom: none;
  }
  .Navigation {
    &__link {
      display: inline-block;
      font-family: $header-font;
      text-transform: uppercase;
      line-height: 1;
      letter-spacing: 0.125rem;
    }
  }
}
