.Project {
  &__image-wrapper {
    max-width: 60.0rem;
  }
  &__title {
    max-width: 1000px;
    display: inline-block;
    color: color('gray');
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.0625rem;
    -webkit-text-stroke-color: color('gray');
    -webkit-font-smoothing: subpixel-antialiased;
    @media (query(lg-up)) {
      -webkit-text-stroke-width: 0.125rem;
    }
  }
  &__description {
    max-width: 43.75rem;
    line-height: 1.5;
    font-size: 1.5rem;
  }
  &__link {
    display: inline;
    border-bottom: none;
    color: color('gray');
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.0625rem;
    -webkit-text-stroke-color: color('gray');
    -webkit-font-smoothing: subpixel-antialiased;
    @media (query(lg-up)) {
      -webkit-text-stroke-width: 0.125rem;
    }
    &:hover {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 0;
      border-bottom-color: transparent;
      background-image: linear-gradient(to right, color('blue'), color('purple'));
      background-size: 400% 400%;
      animation: backgroundPositionShift 3s ease infinite;
    }
  }
  &__image {
    position: relative;
    display: block;
    &-wrapper {
      position: relative;
      .wrap {
        background: linear-gradient(-45deg, color('midgrayone'), color('midgraytwo'));
      }
      &--far-left {
        @media (query(lg-up)) {
          margin-left: -16vw;
        }
      }
      &--left {
        @media (query(lg-up)) {
          margin-left: -8vw;
        }
      }
      &--right {
        @media (query(lg-up)) {
          margin-right: -8vw;
        }
      }
      &--far-right {
        @media (query(lg-up)) {
          margin-right: -16vw;
        }
      }
    }
    &-description {
      width: 100%;
      background: linear-gradient(57deg, color('darkgray'), color('midgrayone'));
      font-size: 1.15rem;
      line-height: 1.5;
      position: relative;
      max-width: 28.75rem;
      color: color('white');
      &--wide {
        max-width: 45.0rem;
      }
      @media (query(lg-up)) {
        margin-top: -4rem;
        margin-left: -2rem;
      }
    }
  }
}
