//
// Root styles
//
body,
.body-copy {
  font-family: $body-font;
  font-size: 1rem;
  line-height: 1.125;
  font-weight: normal;
  font-style: normal;
}
a {
  text-decoration: none;
  border-bottom: 1px solid color('gray');
  &:hover {
    color: color('blue');
    border-bottom-color: color('blue');
  }
}
.body-header {
  font-family: $header-font;
  font-weight: normal;
  display: inline;
  font-size: calc(3.8vh + 3.6vw);
  color: color('gray');
  //letter-spacing: -0.0625rem;
  line-height: 1.0125;
}
.body-icon {
  color: color('gray');
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.0625rem;
  -webkit-text-stroke-color: color('gray');
  -webkit-font-smoothing: subpixel-antialiased;
  @media (query(lg-up)) {
    -webkit-text-stroke-width: 0.125rem;
  }
}
