//
// Font families
//
//$body-font: chaparral-pro, georgia, serif;
$body-font: myriad-pro, helvetica, sans-serif;
$header-font: myriad-pro, helvetica, sans-serif;
$special-header-font: ff-mach-web-pro, monospace, sans-serif;

